{% comment %}
    Renders a blog nav

    Accepts:
    - product: {Object} Blog Liquid object
	- article: {Object} Blog Article Liquid Object
	- prev_product: {Object} Previous Blog Article Liquid object
	- next_product: {Object} Next Blog Article Liquid object

    Usage:
    {% render 'blog-nav' %}
{% endcomment %}

<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-product-grid.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

<div class="library-nav page-width">
  <h2 class="library_nav__heading">Explore more blog posts</h2>
  <ul class="collection-list grid grid--1-col grid--3-col-tablet" role="list">
    <li class="collection-list__item grid__item prev">
      <a href="{{ prev_product.handle }}"
         class="card animate-arrow{% if prev_product.image != blank %} card--media{% else %}{% if section.settings.image_ratio != 'adapt' %} card--stretch{% endif %}{% endif %}{% unless section.settings.image_padding %} card--light-border{% endunless %}"
         >
        <div class="card--stretch card-colored color-accent-2">
          {%- if prev_product.image != blank -%}
          <div{% if section.settings.image_padding %} class="card__media-spacer"{% endif %}>
            {% if section.settings.image_padding %}<div class="overlay-card"></div>{% endif %}
            <div class="media media--square media--hover-effect overflow-hidden"
                 {% if section.settings.image_ratio == 'adapt' %}style="padding-bottom: {{ 1 | divided_by: prev_product.featured_image.aspect_ratio | times: 100 }}%;"{% endif %}>

              <img
                   srcset="{%- if prev_product.image.src.width >= 165 -%}{{ prev_product.image.src | img_url: '165x' }} 165w,{%- endif -%}
                           {%- if prev_product.image.src.width >= 360 -%}{{ prev_product.image.src | img_url: '360x' }} 360w,{%- endif -%}
                           {%- if prev_product.image.src.width >= 535 -%}{{ prev_product.image.src | img_url: '535x' }} 535w,{%- endif -%}
                           {%- if prev_product.image.src.width >= 750 -%}{{ prev_product.image.src | img_url: '750x' }} 750w,{%- endif -%}
                           {%- if prev_product.image.src.width >= 1000 -%}{{ prev_product.image.src | img_url: '1000x' }} 1000w,{%- endif -%}
                           {%- if prev_product.image.src.width >= 1500 -%}{{ prev_product.image.src | img_url: '1500x' }} 1500w,{%- endif -%}"
                   src="{{ prev_product.image.src | img_url: '1500x' }}"
                   sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 3 }}px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
                   alt="{{ prev_product.title | escape }}"
                   height="{{ prev_product.image.height }}"
                   width="{{ prev_product.image.width }}"
                   loading="lazy"
                   >
            </div>
          </div>
          <div class="card__text card__text-spacing card__text-hover">
            {% unless section.settings.image_padding %}<div class="overlay-card"></div>{% endunless %}
            <h2 class="h3"><span class="icon-wrap">{% render 'icon-arrow-rev' %}&nbsp;</span>{{ prev_product.title }}</h2>
          </div>
          {%- else -%}
          <div class="overlay-card"></div>
          <div class="card__text-spacing card__text-hover">
            <h2 class="h1">
              {%- if prev_product.description == blank -%}<span class="icon-wrap"></span>{% endif %}{{ next_product.title }}
            </h2>

            {%- if prev_product.description != blank -%}
            <p>
              <span class="icon-wrap">&nbsp;{% render 'icon-arrow-rev' %}</span>{{ prev_product.description | strip_html | truncatewords: 12 }}
            </p>
            {%- endif -%}
          </div>
          {%- endif -%}
        </div>
      </a>
    </li>
    <li class="collection-list__item grid__item">
      <a href="{{ blog.handle }}"
         class="card animate-arrow{% if article.image != blank %} card--media{% else %}{% if section.settings.image_ratio != 'adapt' %} card--stretch{% endif %}{% endif %}{% unless section.settings.image_padding %} card--light-border{% endunless %}"
         >
        <div class="card--stretch card-colored color-accent-2">
          {%- if article.image != blank -%}
          <div{% if section.settings.image_padding %} class="card__media-spacer"{% endif %}>
            {% if section.settings.image_padding %}<div class="overlay-card"></div>{% endif %}
            <div class="media media--square media--hover-effect overflow-hidden"
                 {% if section.settings.image_ratio == 'adapt' %}style="padding-bottom: {{ 1 | divided_by: prev_product.featured_image.aspect_ratio | times: 100 }}%;"{% endif %}>

              <img src="{{ blog.articles[0].image.src | img_url: '1500x' }}" loading="lazy" width="24%">
              <img src="{{ blog.articles[1].image.src | img_url: '1500x' }}" loading="lazy" width="24%">
              <img src="{{ blog.articles[2].image.src | img_url: '1500x' }}" loading="lazy" width="24%">
              <img src="{{ blog.articles[3].image.src | img_url: '1500x' }}" loading="lazy" width="24%">
            </div>
          </div>
          <div class="card__text card__text-spacing card__text-hover">
            {% unless section.settings.image_padding %}<div class="overlay-card"></div>{% endunless %}
            <h2 class="h3">See all {{ blog.title }} posts</h2>
          </div>
          {%- else -%}
          <div class="overlay-card"></div>
          <div class="card__text-spacing card__text-hover">
            <h2 class="h1">
              See all {{ blog.title }} posts
            </h2>
          </div>
          {%- endif -%}
        </div>
      </a>
    </li>
    <li class="collection-list__item grid__item next">
      <a href="{{ next_product.handle}}"
         class="card animate-arrow{% if next_product.image != blank %} card--media{% else %}{% if section.settings.image_ratio != 'adapt' %} card--stretch{% endif %}{% endif %}{% unless section.settings.image_padding %} card--light-border{% endunless %}"
         >
        <div class="card--stretch card-colored color-accent-2">
          {%- if next_product.image != blank -%}
          <div{% if section.settings.image_padding %} class="card__media-spacer"{% endif %}>
            {% if section.settings.image_padding %}<div class="overlay-card"></div>{% endif %}
            <div class="media media--square media--hover-effect overflow-hidden"
                 {% if section.settings.image_ratio == 'adapt' %}style="padding-bottom: {{ 1 | divided_by: prev_product.featured_image.aspect_ratio | times: 100 }}%;"{% endif %}>

              <img
                   srcset="{%- if next_product.image.src.width >= 165 -%}{{ next_product.image.src | img_url: '165x' }} 165w,{%- endif -%}
                           {%- if next_product.image.src.width >= 360 -%}{{ next_product.image.src | img_url: '360x' }} 360w,{%- endif -%}
                           {%- if next_product.image.src.width >= 535 -%}{{ next_product.image.src | img_url: '535x' }} 535w,{%- endif -%}
                           {%- if next_product.image.src.width >= 750 -%}{{ next_product.image.src | img_url: '750x' }} 750w,{%- endif -%}
                           {%- if next_product.image.src.width >= 1000 -%}{{ next_product.image.src | img_url: '1000x' }} 1000w,{%- endif -%}
                           {%- if next_product.image.src.width >= 1500 -%}{{ next_product.image.src | img_url: '1500x' }} 1500w,{%- endif -%}"
                   src="{{ next_product.image.src | img_url: '1500x' }}"
                   sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 3 }}px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
                   alt="{{ next_product.title | escape }}"
                   height="{{ next_product.image.height }}"
                   width="{{ next_product.image.width }}"
                   loading="lazy"
                   >
            </div>
          </div>
          <div class="card__text card__text-spacing card__text-hover">
            {% unless section.settings.image_padding %}<div class="overlay-card"></div>{% endunless %}
            <h2 class="h3">{{- next_product.title -}}<span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span></h2>
          </div>
          {%- else -%}
          <div class="overlay-card"></div>
          <div class="card__text-spacing card__text-hover">
            <h2 class="h1">
              {%- if next_product.description == blank -%}<span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span>{% endif %}{{ next_product.title }}
            </h2>

            {%- if next_product.description != blank -%}
            <p>
              <span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span>{{ next_product.description | strip_html | truncatewords: 12 }}
            </p>
            {%- endif -%}
          </div>
          {%- endif -%}
        </div>
      </a>
    </li>
  </ul>
</div>