{% comment %}
    Renders a blog nav

    Accepts:
    - blog: {Object} Blog Liquid object
	- article: {Object} Blog Article Liquid Object

    Usage:
    {% render 'blog-sidebar' %}
{% endcomment %}

<div class="recent-blogs">
  <h3>Recent Blog Posts</h3>
  <ul class="blog-list">
  {%- for blog in blog.articles limit: 10 -%}
    <li class="blog-list-blog">
      <a href="{{blog.url}}">
      	<img class="list-view-item__image" src="{{ blog.image | img_url: '95x95', scale: 2 }}" alt="{{ blog.image.alt }}">
        <div><p class="title">{{blog.title}}</p>
        {%- if blog.excerpt.size > 1 or blog.content.size > 0 -%}
        <p class="excerpt">
          {%- if article.excerpt.size > 1 -%}
            {{ blog.excerpt | strip_html | truncatewords: 15 }}
          {%- else -%}
            {{ blog.content | strip_html | truncatewords: 15 }}
          {%- endif -%}
          </p>
     	{%- endif -%}
        </div>
      </a>
      </li>
    {%- endfor -%}
  </ul>
</div>