{% comment %}
    Renders the wholesale cart items by variety

    Accepts:
    - variantItems: items {Object} sorted cart-items
	- variantSize: {string} the current variant size

    Usage:
    {% render 'cart-item-wholesale' %}

{% endcomment %}


{% assign items = cart.items | sort: 'title' %}
{%- assign cartTotal = 0 -%}
{%- assign qtyRaw = 0 -%}
{%- for item in items -%}
{%- if item.product.tags contains "wholesale" -%}
{%- if item.variant.title == variantSize -%}           
<tr class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
  <td class="cart-item__media">
    {% if item.image %}
    <img class="cart-item__image"
         src="{{ item.image | img_url: '300x' }}"
         alt="{{ item.image.alt | escape }}"
         loading="lazy"
         width="150"
         height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
         onclick="window.location.href='{{ item.url }}'"
         >
    {% endif %}
  </td>

  <td class="cart-item__details">
    {%- if section.settings.show_vendor -%}
    <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
    {%- endif -%}

    <a href="{{ item.url }}" class="cart-item__name break">{{ item.product.title | escape }}</a>

    {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
    <dl>
      {%- if item.product.has_only_default_variant == false -%}
      {%- for option in item.options_with_values -%}
      <div class="product-option">
        <dt>{{ option.name }}: </dt>
        <dd>{{ option.value }}</dd>
      </div>
      {%- endfor -%}
      {%- endif -%}

      {%- for property in item.properties -%}
      {%- assign property_first_char = property.first | slice: 0 -%}
      {%- if property.last != blank and property_first_char != '_' -%}
      <div class="product-option">
        <dt>{{ property.first }}: </dt>
        <dd>
          {%- if property.last contains '/uploads/' -%}
          <a href="{{ property.last }}" target="_blank">
            {{ property.last | split: '/' | last }}
          </a>
          {%- else -%}
          {{ property.last }}
          {%- endif -%}
        </dd>
      </div>
      {%- endif -%}
      {%- endfor -%}
    </dl>

    <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
    {%- endif -%}

    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
      {%- for discount in item.discounts -%}
      <li class="discounts__discount">
        {%- render 'icon-discount' -%}
        {{ discount.title }}
      </li>
      {%- endfor -%}
    </ul>

    <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
      <small class="cart-item__error-text"></small>
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
          </svg>
        </div>
      </td>

  <td class="cart-item__totals right medium-hide large-up-hide">
    <div class="loading-overlay hidden">
      <div class="loading-overlay__spinner">
        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </div>
    <div class="cart-item__price-wrapper">
      {%- if item.original_line_price != item.final_line_price -%}
      <dl class="cart-item__discounted-prices">
        <dt class="visually-hidden">
          {{ 'products.product.price.regular_price' | t }}
        </dt>
        <dd>
          <s class="cart-item__old-price price price--end">
            {{ item.original_line_price | money }}
          </s>
        </dd>
        <dt class="visually-hidden">
          {{ 'products.product.price.sale_price' | t }}
        </dt>
        <dd class="price price--end">
          {{ item.final_line_price | money }}
        </dd>
      </dl>
      {%- else -%}
      <span class="price price--end">
        {{ item.original_line_price | money }}
      </span>
      {%- endif -%}

      {%- if item.variant.available and item.unit_price_measurement -%}
      <div class="unit-price caption">
        <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
        {{ item.variant.unit_price | money }}
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
        {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
        {{- item.variant.unit_price_measurement.reference_value -}}
        {%- endif -%}
        {{ item.variant.unit_price_measurement.reference_unit }}
      </div>
      {%- endif -%}
    </div>
  </td>

  <td class="cart-item__quantity right">
    <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
      {{ 'products.product.quantity.label' | t }}
    </label>
    <quantity-input class="quantity">
      <button class="quantity__button no-js-hidden" name="minus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
        {% render 'icon-minus' %}
      </button>
      <input class="quantity__input"
             type="number"
             name="updates[]"
             value="{{ item.quantity }}"
             min="0"
             aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
             id="Quantity-{{ item.index | plus: 1 }}"
             data-index="{{ item.index | plus: 1 }}"
             {%- if item.variant.title == "2 in" -%} step="16"
               {%- assign maxRemain = item.variant.inventory_quantity | modulo: 64 -%}
               {%- assign maxQty = item.variant.inventory_quantity | minus: maxRemain -%} max="{{maxQty}}"
             {%- elsif item.variant.title == "4 in" -%} step="5"
               {%- assign maxRemain = item.variant.inventory_quantity | modulo: 15 -%}
               {%- assign maxQty = item.variant.inventory_quantity | minus: maxRemain -%} max="{{maxQty}}"
             {%- elsif item.variant.title == "6 in" -%} step="3"
               {%- assign maxRemain = item.variant.inventory_quantity | modulo: 6 -%}
               {%- assign maxQty = item.variant.inventory_quantity | minus: maxRemain -%} max="{{maxQty}}"
             {%- else -%} step="1" 
             {%- endif -%}
             >
      <button class="quantity__button no-js-hidden" name="plus" type="button">
        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
        {% render 'icon-plus' %}
      </button>
    </quantity-input>

    <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
      <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
        {% render 'icon-remove' %}
      </a>
    </cart-remove-button>
  </td>

  <td class="cart-item__flat-qty">
    <div class="loading-overlay hidden" style="position:relative; padding-top: 1rem;">
      <div class="loading-overlay__spinner">
        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </div>
    <div class="cart-item__flat">
      {%- if item.product.tags contains "wholesale" -%}
      {%- if item.variant.title == "2 in" -%}{% assign multiplier = 64.0 %}
      {%- elsif item.variant.title == "4 in" -%}{% assign multiplier = 15.0 %}
      {%- elsif item.variant.title == "6 in" -%}{% assign multiplier = 6.0 %}
      {%- else -%}{%- assign multiplier = 1.0 -%}
      {%- endif -%}
      {%- if multiplier != 1 -%}
      <span class="price cart-item__flat-qty">
        <span class="price cart-item__flat-qty-heading" ># of Flats:&nbsp;</span>
        {%- assign qtyFull = item.quantity | divided_by: multiplier | round: 2 -%}
        {%- assign qtyFloor = item.quantity | divided_by: multiplier | floor -%}
        {%- assign qtyRemain = qtyFull | minus: qtyFloor -%}
        {%- if qtyFloor >= 1 -%}{{ qtyFloor }}{%- endif -%}
        {%- if qtyRemain == 0.75 -%} ¾ 
        {%- elsif qtyRemain == 0.67 -%} ⅔
        {%- elsif qtyRemain == 0.50 -%} ½
        {%- elsif qtyRemain == 0.53 -%} ½
        {%- elsif qtyRemain == 0.33 -%} ⅓
        {%- elsif qtyRemain == 0.25 -%} ¼
        {%- endif -%}
        &nbsp;
        {%- if qtyFloor > 1 -%} Flats
        {%- else qtyFloor == 1 -%} Flat
        {%- else qtyRemain > 1 -%} Flat{%- endif -%}
      </span>
      {%- endif -%}
      {%- endif -%}
    </div>                                                           
  </td>


  <td class="cart-item__totals right small-hide">
    <div class="loading-overlay hidden">
      <div class="loading-overlay__spinner">
        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </div>

    <div class="cart-item__price-wrapper">
      {%- if item.original_line_price != item.final_line_price -%}
      <dl class="cart-item__discounted-prices">
        <dt class="visually-hidden">
          {{ 'products.product.price.regular_price' | t }}
        </dt>
        <dd>
          <s class="cart-item__old-price price price--end">
            {{ item.original_line_price | money }}
          </s>
        </dd>
        <dt class="visually-hidden">
          {{ 'products.product.price.sale_price' | t }}
        </dt>
        <dd class="price price--end">
          {{ item.final_line_price | money }}
        </dd>
      </dl>
      {%- else -%}
      <span class="price price--end">
        {{ item.original_line_price | money }}
      </span>
      {%- endif -%}

      {%- if item.variant.available and item.unit_price_measurement -%}
      <div class="unit-price caption">
        <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
        {{ item.variant.unit_price | money }}
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
        {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
        {{- item.variant.unit_price_measurement.reference_value -}}
        {%- endif -%}
        {{ item.variant.unit_price_measurement.reference_unit }}
      </div>
      {%- endif -%}
    </div>
  </td>
</tr>

{%- assign qtyRaw = qtyRaw | plus:item.quantity -%}
{%- assign qtyFull = item.quantity | divided_by: multiplier | round: 2 -%}
{%- assign qtyFloor = item.quantity | divided_by: multiplier | floor -%}
{%- assign qtyRemain = qtyFull | minus: qtyFloor -%} 
{%- if qtyRemain == 0.53 -%}{%- assign qtyRemain = 0.50 -%}{%- endif -%}
{%- assign qtyCombo = qtyFloor | plus: qtyRemain -%}
{%- assign cartTotal = cartTotal | plus: qtyCombo -%}
{%- endif -%}
{%- endif -%}
{%- endfor -%}
{%- unless qtyRaw == 0 -%}
<tr class="cart-item spacer"></tr>
<tr class="cart-item total">
  <td class="cart-item__media"></td>
  <td class="cart-item__variety">
    <div class="cart-items-variety">Total {{ variantSize }} Wholesale Plants</div>                    
  </td>
  <td class="cart-item__totals right medium-hide large-up-hide"></td>
  <td class="cart-item__quantity right">
    <div class="cart-items-total"><span class="cart-items-total-qty">{{ qtyRaw }}</span> Plants</div>
  </td>
  <td class="cart-item__flat-qty">
    {%- if variantSize == "2 in" or variantSize == "4 in" or variantSize == "6 in" -%}
    <div class="cart-total__flat"><span class="cart-total-flat-qty">{%- if cartTotal >= 1 -%}{{ cartTotal | floor }}{%- endif -%}
        {%- assign cartTotalFloor = cartTotal | floor -%}
        {%- assign cartTotalRemain = cartTotal | minus: cartTotalFloor -%} 
        {%- if cartTotalRemain == 0.75 -%} ¾ 
        {%- elsif cartTotalRemain == 0.66 -%} ⅔
        {%- elsif cartTotalRemain == 0.50 -%} ½
        {%- elsif cartTotalRemain == 0.53 -%} ½
        {%- elsif cartTotalRemain == 0.33 -%} ⅓
        {%- elsif cartTotalRemain == 0.25 -%} ¼
        {%- endif -%}
        &nbsp;
        {%- if cartTotalFloor > 1 -%} Flats
        {%- else cartTotalFloor == 1 -%} Flat
        {%- else cartTotalRemain < 1 -%} Flat{%- endif -%}
      </span>
    </div>
    {%- endif -%}
  </td>
  <td class="cart-item__totals right small-hide">
    <div class="totals"></div>
  </td>
</tr>
{%- assign cartTotalRemain = cartTotal | modulo:1 -%}
{{cartTotalRemain}}
{%- if cartTotalRemain != 0 -%}
<tr class="cart-item warning">
  <td colspan="5"class= "cart-item__warning">
    <span>Total {{ variantSize }} flats above not full! Please adjust quantity before checkout.</span>
  </td>
</tr>
{%- endif -%}
{%- endunless -%}
