{% comment %}
    Renders a product card

    Accepts:
    - product_card_product: {Object} Product Liquid object (optional)
    - media_size: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - add_image_padding: {Boolean} Enables padding on the image to space out the grid
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_image_outline: {Boolean} Show card outline. Default: true (optional)
    - show_rating: {Boolean} Show the product rating. Default: false

    Usage:
    {% render 'product-card', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- assign collection = product_card_product.type -%}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

<div class="product-card product-card--list">
  <a class="full-width-link" href="{{ product_card_product.type }}/products/{{ product_card_product.handle}}">
    <span class="visually-hidden">{{ product_card_product.title }}</span>
  </a>
  <div class="list-view-item__link">

    <div class="list-view-item__image-column">
      <div class="list-view-item__image-wrapper product-card__image-wrapper">
      {% unless product_card_product.featured_media == null %}
        <img class="list-view-item__image" src="{{ product_card_product.featured_media | img_url: '95x95', scale: 2 }}" alt="{{ product_card_product.featured_media.alt }}">
      {% else %}
        <img class="list-view-item__image" src="{{ 'image' | placeholder_svg_tag: 'list-view-item__image' | img_url: '95x95', scale: 2 }}">
      {% endunless %}
      </div>
    </div>

    <div class="list-view-item__title-column" style="vertical-align:top;">
      <div class="list-view-item__title" aria-hidden="true">
        <span class="product-card__title">{{ product_card_product.title }}
        {%- if product_card_product.metafields.my_fields.common_name -%}<span class="common-name">{{ product_card_product.metafields.my_fields.common_name }}</span>{% endif %}
        </span>
      </div>
      {% if show_vendor %}
      <div class="list-view-item__vendor">{{ product_card_product.vendor }}</div>
      {% endif %}
      {% for variant in product_card_product.variants %}
      	<span class="list-view-item__variant">{{ variant.title }}<span style="font-style:italic;" > - available {% if variant.metafields.my_fields.landscape_quality %}(L){% endif %}</span></span>
      {% endfor %}
      {% if product_card_product.metafields.my_fields.stock_notes %}
      	<div class="list-view-item__notes">Notes: {{ product_card_product.metafields.my_fields.stock_notes }}</div>
      {% endif %}
    </div>
    
    <div class="list-view-item__variant-column">
      <form id="form-{{ product_card_product.id }}" name="wholesale_add" action="/cart/add" method="post">
        <select id="variant{{ product_card_product.id }}" name="id" title="{{ product_card_product.id }}" class="var" placeholder="Select Size" onchange="myFunction4({{ product_card_product.id }})">
          <option value="" disabled selected hidden>Select Size</option>
          {% for variant in product_card_product.variants %}
            {% assign varQTY = 99999 %}
            <option value="{{ variant.id }}" title="{{ variant.title }}" stock="{{ varQTY }}">{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}
        </select>
        <select id="option{{ product_card_product.id }}" name="option" title="option-{{ product_card_product.id }}" class="opt" onchange="myFunction2({{ product_card_product.id }})">
          <option value="whole" title="Flat">Whole Flat</option>
        </select>
        <input id="var-quantity" type="number" name="var-mult" title="variant multiplier" class="qty" placeholder="QTY" min="0" step="1" multiplier="1" onchange="myFunction3({{ product_card_product.id }})">
        <input id="quantity" type="number" name="quantity" title="variant quantity" class="hidden" min="0" value="0">
        <input type="submit" value="Add to Cart" class="btn"/>
        <input type="text" name="plantSubmit" value="" class="plant-submit" disabled/>
      </form>
    </div>    
  </div>
</div>
