{{ 'accordion.css' | asset_url | stylesheet_tag }}

<div class="{% unless section.settings.full_width %}page-width{% endunless %}">
  <div class="accordion-section color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width{% else %}rich-text__blocks{% endif %}">
    <div class="page-width so-accordion-wrapper" style="text-align:{{ section.settings.align }};">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'accordion' -%}
      		<div class="so-tab" {{ block.shopify_attributes }}>
              <input id="so-tab-{{forloop.index}}" type="checkbox" name="tabs" />
    		  <label class="{{ block.settings.accordion_size }}" for="so-tab-{{forloop.index}}">{{ block.settings.section | escape }}</label>
              <div class="so-tab-content">
                <div class="content rich-text__text rte {% if block.settings.margin %}p-nomargin{% endif %} {% if block.settings.indent %}p-indent{% endif %}" {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </div>
              </div>
     		</div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>


  

{% schema %}
{
  "name": "t:sections.accordion.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.accordion.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.accordion.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.accordion.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.accordion.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.accordion.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.accordion.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.accordion.settings.full_width.label"
    },
	{
      "type": "select",
      "id": "align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.accordion.settings.align.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.accordion.settings.align.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.accordion.settings.align.options__3.label"
        },
		{
          "value": "justify",
          "label": "t:sections.accordion.settings.align.options__4.label"
        }
      ],
      "default": "center",
      "label": "t:sections.accordion.settings.align.label"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "t:sections.accordion.blocks.accordion.name",
      "settings": [
        {
          "type": "text",
          "id": "section",
          "default": "Question text",
          "label": "t:sections.accordion.blocks.accordion.settings.section.label"
        },
        {
          "type": "select",
          "id": "accordion_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.accordion.blocks.accordion.settings.accordion_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.accordion.blocks.accordion.settings.accordion_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.accordion.blocks.accordion.settings.accordion_size.options__3.label"
            }
          ],
          "default": "h3",
          "label": "t:sections.accordion.blocks.accordion.settings.accordion_size.label"
        },
		{
          "type": "richtext",
          "id": "text",
          "default": "<p>This is the answer to the question.</p>",
          "label": "t:sections.accordion.blocks.accordion.settings.text.label"
        },
		{
          "type": "checkbox",
          "id": "margin",
          "default": false,
          "label": "t:sections.accordion.blocks.accordion.settings.margin.label"
        },
		{
          "type": "checkbox",
          "id": "indent",
          "default": false,
          "label": "t:sections.accordion.blocks.accordion.settings.indent.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.accordion.presets.name",
      "blocks": [
        {
          "type": "accordion"
        }
      ]
    }
  ]
}
{% endschema %}
