{{ 'wholesale-avail.css' | asset_url | stylesheet_tag }}

<div id="PageContent" class="page-width">
  <div class="rte">
    {{ page.content }}
  </div>
</div>
<div class="pagebreak"> </div>
<div id="AvailabilityGrid" class="page-width">
  <div class="info">
    <h2>Wholesale Availability - {{ "now" | date: "%B %e, %Y" }}</h2>
  </div>
  <table class="avail-grid wholesale-assorted">
    <tr>
      <th>Assortments Available</th>
      <th>2 in</th>
      <th>4 in</th>
    </tr>
    {%- for product in collections.wholesale-assortment.products -%}
    <tr>
      <td>{{ product.title }}</td>
	  {% for variant in product.variants %}
        {%- if variant.title == "2 in" -%}
          {%- assign flatAvail = variant.inventory_quantity | divided_by: 64 -%}
        {%- elsif variant.title == "4 in" -%}
          {%- assign flatAvail = variant.inventory_quantity | divided_by: 15 -%}
        {%- elsif variant.title == "6 in" -%}
          {%- assign flatAvail = variant.inventory_quantity | divided_by: 6  -%}
        {%- else -%}
          {%- assign flatAvail = variant.inventory_quantity -%}
        {%- endif -%}
        {%- if flatAvail < 0 -%}{%- assign flatAvail = 0 -%}{%- endif -%}
        {% if flatAvail > 0 %}
          <td>{{ flatAvail }}{% if variant.metafields.my_fields.landscape_quality %} (L){% endif %}</td>
        {% else %}
          <td>&nbsp;</td>
        {% endif %}
      {% endfor %}
    </tr>
      {%- endfor -%}
  </table>
  <div class= "spacer"> </div>
  <table class="avail-grid wholesale">
    <tr>
      <th>Botanical</th>
      <th>Pricing</th>
      <th>2 in</th>
      <th>4 in</th>
      <th>6 in</th>
      <th>8 in</th>
      <th>1 gal</th>
      <th>2 gal</th>
      <th>5 gal</th>
      <th>10 gal</th>
      <th>15 gal</th>
      <th>Notes/Comments</th>
    </tr>
    {%- for product in collections.wholesale-inventory.products -%}
    <tr>
      <td>{{ product.title }}</td>
      {%- if product.metafields.my_fields.pricing -%}<td>{{ product.metafields.my_fields.pricing | upcase }}</td>
      {%- else -%}<td>&nbsp;</td>
      {%- endif -%}
	  {% for variant in product.variants %}
        {%- if variant.title == "2 in" -%}
          {%- assign flatAvail = variant.inventory_quantity | divided_by: 64 -%}
        {%- elsif variant.title == "4 in" -%}
          {%- assign flatAvail = variant.inventory_quantity | divided_by: 15 -%}
        {%- elsif variant.title == "6 in" -%}
          {%- assign flatAvail = variant.inventory_quantity | divided_by: 6  -%}
        {%- else -%}
          {%- assign flatAvail = variant.inventory_quantity -%}
        {%- endif -%}
        {%- if flatAvail < 0 -%}{%- assign flatAvail = 0 -%}{%- endif -%}
        {% if flatAvail > 0 %}
          <td>{{ flatAvail }}{% if variant.metafields.my_fields.landscape_quality %} (L){% endif %}</td>
        {% else %}
          <td>&nbsp;</td>
        {% endif %}
      {% endfor %}
      {%- if product.metafields.my_fields.stock_notes -%}
        <td>{{product.metafields.my_fields.stock_notes}}</td>
      {%- else -%}
        <td>&nbsp;</td>
      {%- endif -%}
    </tr>
      {%- endfor -%}
  </table>
</div>


{% schema %}
  {
    "name": "t:sections.main-wholesale-availability.name",
  	"tag": "section",
	"class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Wholesale Availability"
      }
	],
	"templates": ["page"]
  }
{% endschema %}

