{{ 'wholesale-avail.css' | asset_url | stylesheet_tag }}

<div id="PageContent" class="page-width">
  <div class="rte">
    {{ page.content }}
  </div>
</div>
<div class="pagebreak-old"></div>
<div id="AvailabilityGrid" class="page-width">
  <div class="info">
    <h2>Wholesale Availability - {{ "now" | date: "%B %e, %Y" }}</h2>
  </div>
  <div class="columns2">
    <div class="column1">
      <table class="avail-grid wholesale-assorted">
        <thead>
          <tr>
            <th>Assortments Available</th>
            <th>2 in</th>
            <th>4 in</th>
          </tr>
        </thead>
        {%- for product in collections.wholesale-assortment.products -%}
        <tr>
          <td>{{ product.title }}</td>
          {% for variant in product.variants %}
            {%- if variant.title == "2 in" -%}
              {%- assign flatAvail = variant.inventory_quantity | divided_by: 64 -%}
            {%- elsif variant.title == "4 in" -%}
              {%- assign flatAvail = variant.inventory_quantity | divided_by: 15 -%}
            {%- elsif variant.title == "6 in" -%}
              {%- assign flatAvail = variant.inventory_quantity | divided_by: 6  -%}
            {%- else -%}
              {%- assign flatAvail = variant.inventory_quantity -%}
            {%- endif -%}
            {%- if flatAvail < 0 -%}{%- assign flatAvail = 0 -%}{%- endif -%}
            {% if flatAvail > 0 %}
              <td>&nbsp;{% if variant.metafields.my_fields.landscape_quality %} (L){% endif %}</td>
            {% else %}
              <td>&nbsp;</td>
            {% endif %}
          {% endfor %}
        </tr>
          {%- endfor -%}
      </table>
    </div>
	<div class="column2">
      <table class="avail-grid wholesale-specialty">
        <thead>
          <tr>
              <th colspan="2">Specialty 4" Succulents and Cacti - $8 each, 25 per flat</th>
          </tr>
        </thead>
        {% tablerow product in collections.wholesale-specialty.products cols:2 %}
          {{ product.title }}
          {% for variant in product.variants %}
            {%- assign flatAvail = variant.inventory_quantity -%}
            {% if flatAvail > 0 %}
             - {{ flatAvail }}{% if variant.metafields.my_fields.landscape_quality %} (L){% endif %}
            {% endif %}
          {% endfor %}
        {% endtablerow %}
      </table>
    </div>  
  </div>
  <div class="columns2">
    <table class="avail-grid wholesale-seasonal">
      <thead>
        <tr>
          <th colspan="5">Seasonal Products</th>
        </tr>
      </thead>
      {%- for product in collections.wholesale-seasonal.products -%}
      <tr>
        <td>{{ product.title }}</td>
        {% for variant in product.variants %}
        <td>{{variant.title}} - {{variant.price | money}}</td>
        {% endfor %}
      </tr>
      {%- endfor -%}
    </table>
  </div>
  <div class= "spacer">&nbsp;</div>
  <table class="avail-grid wholesale">
    <thead>
      <tr>
        <th>Botanical</th>
        <th>Pricing</th>
        <th>2 in</th>
        <th>4 in</th>
        <th>6 in</th>
        <th>8 in</th>
        <th>1 gal</th>
        <th>2 gal</th>
        <th>5 gal</th>
        <th>10 gal</th>
        <th>15 gal</th>
        <th>Notes/Comments</th>
      </tr>
    </thead>
    {% paginate collections.wholesale-inventory.products by 1000 %}
    {%- for product in collections.wholesale-inventory.products -%}
    <tr>
      <td>{{ product.title }} {%- if product.metafields.my_fields.common_name -%}<span class="common-name">{{ product.metafields.my_fields.common_name }}</span>{% endif %}</td>
      {%- if product.metafields.my_fields.pricing -%}<td>{{ product.metafields.my_fields.pricing | upcase }}</td>
      {%- else -%}<td>&nbsp;</td>
      {%- endif -%}
	  {% for variant in product.variants %}
        {%- if variant.title == "2 in" -%}
          {%- assign flatAvail = variant.inventory_quantity | divided_by: 64 -%}
        {%- elsif variant.title == "4 in" -%}
          {%- assign flatAvail = variant.inventory_quantity | divided_by: 15 -%}
        {%- elsif variant.title == "6 in" -%}
          {%- assign flatAvail = variant.inventory_quantity | divided_by: 6  -%}
        {%- else -%}
          {%- assign flatAvail = variant.inventory_quantity -%}
        {%- endif -%}
        {%- if flatAvail < 0 -%}{%- assign flatAvail = 0 -%}{%- endif -%}
        {% if flatAvail > 0 %}
          <td>{{ flatAvail }}{% if variant.metafields.my_fields.landscape_quality %} (L){% endif %}</td>
        {% else %}
          <td>&nbsp;</td>
        {% endif %}
      {% endfor %}
      {%- if product.metafields.my_fields.stock_notes -%}
        <td>{{product.metafields.my_fields.stock_notes}}</td>
      {%- else -%}
        <td>&nbsp;</td>
      {%- endif -%}
    </tr>
    {%- endfor -%}
    {% endpaginate %}
  </table>
</div>


{% comment %}
<script defer="defer">
  window.print();
</script>
{% endcomment %}



{% schema %}
  {
    "name": "t:sections.main-wholesale-availability.name",
  	"tag": "section",
	"class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Wholesale Availability"
      }
	],
	"templates": ["page"]
  }
{% endschema %}

